@media screen  and (max-width:990px){
    .newsContainer{
        flex-direction: column;
        align-items: flex-start !important;

        h2{
            padding:1rem 0 !important;
            border:none !important;
            border-bottom:2px solid orange !important;
        }

        
        p{
            padding:0.5rem 0 !important;
        }
        border-radius:0.5rem !important
    }
    .intro2container{
        flex-direction: column;
        margin:5rem auto !important;

        .text{
            p{
                font-size:1.3rem;
                margin-bottom:0.5rem;
            }
            button{
                display:none !important; 
            }
            margin-bottom:1rem;
        }
        .fuddu{
            display:flex !important;
        }
    }
    .specificContainer{
        .bodySec{
            padding-top:2rem !important;
            >div{
                perspective: none !important;
                flex-direction:column !important;
                margin:0 !important;
                >h2{
                    display:block !important;
                    margin-bottom:1rem;
                }
                .image{
                    margin-right:0 !important;
                }
                .text{
                    margin:2rem !important; 
                    width:90vw !important;
                    text-align:Center;
                    h2{
                        display:none;
                    }
                }
                &:hover{
                   .image{
                       img{
                           transform:rotateY(0) !important;
                       }
                   }
                   .text{
                       transform: rotateY(0) !important;
                   }
                }
             }
        }
    }
    .navbarContainer{
        position:relative;
        width:100% !important;
        z-index:10 !important;
        padding:1rem;

        .navbarControls{
            display:block !important;
        }
        .navbarRight{
            z-index:9 !important;
            background:rgb(247, 247, 247);
            position:absolute;
            top:-500%;
            left:0;
            flex-direction:column;
            width:100% !important;
            justify-content: flex-end !important;
            margin:0 !important;
            border-bottom:1px solid black;
            transition:all 0.2s ease;

            ul{
                flex-direction: column;
                align-items:stretch;
                justify-content: stretch;
                width:100%;
                a{
                    padding:0.5rem 1rem !important;
                    margin:0rem !important;
                }
            }
            >div{
                background:rgb(247, 247, 247);
                width:100%;
                button{
                    margin:0.5rem  !important;
                }
            }
        }
    }
    .heroContainer{
        .heroText{
            top:50% !important;
            left:50% !important;
            transform: translate(-50%,-50%) !important;
            width:90vw !important;
            text-align: center !important;
            h1{
                font-size:10vw !important;
            }
            button{
                transform-origin:center !important;
            }
        }
    }
    .introSection{
        width:90vw !important;
        margin:5rem auto !important;
        h1{
            font-size:10vw !important;
        }
    }
    .galleryContainer{
        margin:5rem auto !important;
        .gallery{
            grid-template-columns: 1fr !important;
        }
    }
    .footerContainer{
        width:100vw !important;
        flex-wrap:wrap;
        background:linear-gradient(35deg,blue,#00ccff);
        color:white !important;
        margin:0 auto 0 auto !important;
        padding-top:2rem;
        padding-bottom:1rem;
        .footerLeft{
            ul:first-child{
                display:none;
            }
            ul{
                padding:1rem 0;
                flex-direction: column !important;
                li{
                    a{
                        font-size:1rem !important;
                        color:white !important;
                    }
                }
            }
            // display:none !important;
        }
        .footerRight{
            width:100vw !important;
        }
    }
    .contactContainer{
        >p{
            margin:1rem;
        }
        .contact{
            width:100vw !important;
            border:none !important;
            box-shadow:none !important; 
            padding:0 1rem !important;
            >div{
                grid-template-columns: 1fr !important;
                input,textarea{
                    border:1px solid black;
                    border-radius:0.5rem;
                    padding:1rem;
                }
            }
            button{
                margin:3rem 0;
                float:right;
            }
        }
    }
    .gridGallery{
        grid-template-columns: 1fr !important;
    }
}
