@media screen  and (max-width:990px){
    .heroContainer{
        .heroText{
            top:50% !important;
            left:50% !important;
            transform: translate(-50%,-50%) !important;
            width:90vw !important;
            text-align: center !important;
            h1{
                font-size:10vw !important;
            }
            button{
                transform-origin:center !important;
            }
        }
    }
    .introSection{
        width:90vw !important;
        margin:5rem auto !important;
        h1{
            font-size:10vw !important;
        }
    }
    .galleryContainer{
        margin:5rem auto !important;
        .gallery{
            grid-template-columns: 1fr !important;
        }
    }
    .footerContainer{
        width:100vw !important;
        flex-wrap:wrap;
        background:linear-gradient(35deg,blue,#00ccff);
        color:white !important;
        margin:0 auto 0 auto !important;
        padding-top:2rem;
        padding-bottom:1rem;
        .footerLeft{
            ul:first-child{
                display:none;
            }
            ul{
                padding:1rem;
                li{
                    a{
                        font-size:1rem !important;
                        color:white !important;
                    }
                }
            }
            // display:none !important;
        }
        .footerRight{
            width:100vw !important;
            padding:1rem !important;
        }
    }
    .contactContainer{
        >p{
            margin:1rem;
        }
        .contact{
            width:100vw !important;
            border:none !important;
            box-shadow:none !important; 
            padding:0 1rem !important;
            >div{
                grid-template-columns: 1fr !important;
                input,textarea{
                    border:1px solid black;
                    border-radius:0.5rem;
                    padding:1rem;
                }
            }
            button{
                margin:3rem 0;
                float:right;
            }
        }
    }
}
